/*
Common colors from comps
-----------------------------
Dark Gray: #303030;
Light Gray: #898E92;
Red: #C92349;
Yellow: #F7BF0F;
Blue: #0389D1;

*/

body.superstream {
  background: #303030;
  color: #FFF;
  /*'Avenir Next LT W02SC Heavy It'*/
  font-family:'Avenir Next LT W02SC Demi', Helvetica, Arial, sans-serif;
  
}

h1, h2, h3, .next-tile-button, a.action {
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family:'Avenir Next LT W02SC Bold Cond';
}

h1 {
  font-size: 64px;
}

h1 > span {

}

h2 {
  font-size: 32px;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 0.06em;
}

a {
  color: #F7BF0F;
}

.container-fluid { max-width: 900px; }

/* "Watch the live Stream" */
.action {
  background: #C92349;
  color: #FFF;
}



a.action {
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

a.action:hover {
  text-decoration: none;
  color: #F7BF0F;
}

.next-tile-button {
  font-size: 25px;
  color: #313030;
}

.next-tile-button { 
}

.next-tile-button  a {
  color: #F7BF0F;
}

.next-tile-button  a:hover {
  text-decoration: none;
}

.next-tile-button .glyphicon {
  position: relative; top: 5px;
}

img.scale {
  width: 100%;
}

#back-button {
}

#back-button a {
  position: absolute; top:0; right: 0;
}


.app-store-group {
  position: relative;
  padding-left: 120px;
  min-height: 100px;
}

.app-store-group .app-icon {
  position: absolute; top: -60px; left: -60px;
}

/*----------*/

.angled {
  display: inline-block;
  position: relative;
  z-index: 10;
}

.angled:before,
.angled:after {
  content: '';
  position: absolute; top: 0;
  height: 100%;
  background-image: url(../img/angle-black-left.png);
  background-size: 100% 100%;
  z-index: -1;
}

.angled:after {
  background-image: url(../img/angle-black-right.png);
}

h1 .angled:before {
  left: -20px; width: 20px;
}
h1 .angled:after {
  right: -20px; width: 20px;
}

a.action.angled:before {
  left: -8px; width: 8px;
}

a.action.angled:after {
  right: -8px; width: 8px;
}

.angled.yellow:before { background-image: url(../img/angle-yellow-left.png) }
.angled.yellow:after { background-image: url(../img/angle-yellow-right.png) }

.angled.red:before { background-image: url(../img/angle-red-left.png) }
.angled.red:after { background-image: url(../img/angle-red-right.png) }


/* Tile 1
---------------------------------- */
.tile1 {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;

  background: #313030;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMmEyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTMwMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #2b2a2a 0%, #313030 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2a2a), color-stop(100%,#313030));
  background: -webkit-linear-gradient(top,  #2b2a2a 0%,#313030 100%);
  background: -o-linear-gradient(top,  #2b2a2a 0%,#313030 100%);
  background: -ms-linear-gradient(top,  #2b2a2a 0%,#313030 100%);
  background: linear-gradient(to bottom,  #2b2a2a 0%,#313030 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2a2a', endColorstr='#313030',GradientType=0 );

}

.tile1 h1 {
  color: #313030;
  font-size: 82px;
  position: relative;
  left: -60px;
}

.tile1 h1 .angled {
  background: #F7BF0F;
  padding-right: 10px;
}

.tile1 .sunday {
  font-size: 112px;
  margin-left: 200px;
}

.countdown {
  /* Temp: */
  /*border: 1px;*/
  padding: 24px;
  min-height: 200px;
}

.countdown #time-left {
  font-size: 48px;
}

.countdown .countdown-expired {
  display: none;
}

.countdown .social h3 {
  display: inline-block;
  float: left;
  font-size: 16px;
  max-width: 90px;
  margin: 5px 0;
}

.countdown .social img {
  float: left;
  margin-left: 2px;
  width: 40px;
  height: 48px;
}

/* Tile 2
---------------------------------- */
.tile2 {
  padding-bottom: 60px;
  background: #0089d1;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxNjFiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg5ZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #0161b5 0%, #0089d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0161b5), color-stop(100%,#0089d1));
  background: -webkit-linear-gradient(top,  #0161b5 0%,#0089d1 100%);
  background: -o-linear-gradient(top,  #0161b5 0%,#0089d1 100%);
  background: -ms-linear-gradient(top,  #0161b5 0%,#0089d1 100%);
  background: linear-gradient(to bottom,  #0161b5 0%,#0089d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0161b5', endColorstr='#0089d1',GradientType=0 );

}

.tile2 h1 {
  margin-top: -22px;
  color: #313030;
  font-size: 112px;
}

.tile2 .app-row {
  margin-top: 60px; margin-bottom: 70px;
}

/* Tile 3
---------------------------------- */
.tile3 {
  padding-bottom: 60px;
  color: #C5c5C5; /* NEED TO GET FROM PSD */

  background: #313030;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMmEyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTMwMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #2b2a2a 0%, #313030 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2a2a), color-stop(100%,#313030));
  background: -webkit-linear-gradient(top,  #2b2a2a 0%,#313030 100%);
  background: -o-linear-gradient(top,  #2b2a2a 0%,#313030 100%);
  background: -ms-linear-gradient(top,  #2b2a2a 0%,#313030 100%);
  background: linear-gradient(to bottom,  #2b2a2a 0%,#313030 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2a2a', endColorstr='#313030',GradientType=0 );
}

.tile3 .container-fluid {
  position: relative;
}

.tile3 h1 {
  margin-top: -22px;
  margin-right: 15px;
  color: #0089d1;
  text-align: right;
  font-size: 112px;
}

.tile3 .note {
  font-style: italic;
  margin-top: 20px;
}

.tile3 p.subhead {
  font-size: 22px;
}

#devices-mobile {
  min-height: 150px;
  position: relative;
}

#devices-mobile img {
  position: absolute; top: -230px; left: -152px;
}

.tile3 .row.instructions div {
}

.tile3 .list-icon {
  float: left;

}

.tile3 .instructions li {
  padding-left: 70px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
  min-height: 40px;
  font-weight: bold;
  font-size: 16px;
}

.tile3 .instructions ul,
.tile3 .instructions li:last-of-type,
.tile3 .instructions li:last-of-type p {
  margin-bottom: 0;
}


.tile3 .instructions li .list-icon {
  position: absolute; top: 0; left: 0;
}



.tile3.bottom {
  background: #c9234a;
  height: 320px;
}

.tile3.bottom h3 {
  text-align: center;
}

.tile3 .logos {
  background: #404; /* Temp for debugging centering */
}

.tile3 .logos img {
  width: 80px;
  height: 80px;
  float: left;
}

.tile3 .half-logo-offset {
  clear: both;
  margin-left: 40px;
}

.tile3 .next-tile-button {
  font-size: 20px;
  position: absolute; left: 0; bottom: 0;
}

/* Footer
---------------------------------- */

footer {
  padding: 24px 0;
  font-size: 16px;
}