/*
Common colors from comps
-----------------------------
Dark Gray: #303030;
Light Gray: #898E92;
Red: #C92349;
Yellow: #F7BF0F;
Blue: #0389D1;

*/

body.superstream {
  background: #303030;
  color: #FFF;
  /*'Avenir Next LT W02SC Heavy It'*/
  /*font-family:'Avenir Next LT W02SC Demi', Times;*/
  font-family:'Avenir Next LT W02 Demi', Helvetica, Arial, sans-serif;
}

h1, h2, h3, .next-tile-button, a.action, .action, .ie-message {
  text-transform: uppercase;
  font-family:'AvenirNextLTW02-BoldCn', Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'AvenirNextLTW02-HeavyCn_724425', Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: normal;
  color: #eaeaea;
}

h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: normal;
  line-height: 43px;
  letter-spacing: 0.01em;
  color: #eaeaea;
}

h3 {
  font-weight: normal;
  font-family: 'AvenirNextLTW02-HeavyCn_724425', Helvetica, Arial, sans-serif;
}

a, a:hover, a:active, a:focus {
  outline: none;
  color: #F7BF0F;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}


.container-fluid { max-width: 900px; }

/* "Watch the live Stream" */
.action {
  font-style: italic;
  background: #C92349;
  color: #eaeaea;
}


.action,
a.action {
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

a.action:hover {
  text-decoration: none;
  color: #F7BF0F;
}

.icon-right {
  display: inline-block;
  background: url('../img/arrow-right.png') 0 0;
  background-size: 100% 100%;
  width: 11px; height: 18px;
  margin-left: 5px;
}

.next-tile-button, .next-tile-button:active {
  font-size: 28px;
  font-style: italic;
  color: #F7BF0F;
  padding-right: 10px;
}

.next-tile-button:hover {
  text-decoration: none;
  color: #fff;
}

.next-tile-button .glyphicon {
  position: relative; top: 5px;
}
.next-tile-button:hover .glyphicon {
  color: #F7BF0F;
}

.next-tile-button.action {
  font-size: 25px;
  background: transparent;
  padding-left: 0;
}

.next-tile-button .icon-down {
  display: inline-block;
  background: url('../img/arrow-down.png') 0 0;
  background-size: 100% 100%;
  width: 34px; height: 21px;
  margin-right: 5px;
}

.next-tile-button .icon-right {
  background-image: url('../img/arrow-right-2.png');
  margin-left: 12px;
  position: relative; top: 0px;
}

.ie-message {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  background-color: #0089d1;
  color: #fff;
  display: block;
}

img.scale {
  width: 100%;
}

#back-button a {
  position: absolute; top:0; right: 0;
}

#back-button .icon-right {
  position: relative;
  top: -1px;
  left: 3px;
}

.mobile-livestream-message {
  font-weight: bold;
  letter-spacing: 0;
}

.app-store-group {
  position: relative;
  padding-left: 120px;
  min-height: 100px;
}

.app-store-group .app-icon {
  position: absolute; top: -60px; left: -60px;
  pointer-events: none;
}

.app-store-group .stores a {
  margin-bottom: 5px;
  display: inline-block;
}

.app-store-group .desc {
  margin-top: 8px;
}

/*----------*/

.angled {
  display: inline-block;
  position: relative;
  z-index: 10;
}

.angled:before,
.angled:after {
  content: '';
  position: absolute; top: 0;
  height: 100%;
  background-image: url(../img/angle-black-left.png);
  background-size: 100% 100%;
  z-index: -1;
}

.angled:after {
  background-image: url(../img/angle-black-right.png);
}

h1 .angled:before {
  left: -20px; width: 20px;
}
h1 .angled:after {
  right: -20px; width: 20px;
}

a.action.angled:before {
  left: -8px; width: 8px;
}

a.action.angled:after {
  right: -8px; width: 8px;
}

.angled.yellow:before { background-image: url(../img/angle-yellow-left.png) }
.angled.yellow:after { background-image: url(../img/angle-yellow-right.png) }

.angled.red:before { background-image: url(../img/angle-red-left.png) }
.angled.red:after { background-image: url(../img/angle-red-right.png) }


/* Tile 1
---------------------------------- */
.tile1 {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;

  background: #888e92;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMmEyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTMwMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #6b6f73 0%, #888e92 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6f73), color-stop(100%,#888e92));
  background: -webkit-linear-gradient(top,  #6b6f73 0%,#888e92 100%);
  background: -o-linear-gradient(top,  #6b6f73 0%,#888e92 100%);
  background: -ms-linear-gradient(top,  #6b6f73 0%,#888e92 100%);
  background: linear-gradient(to bottom,  #6b6f73 0%,#888e92 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6f73', endColorstr='#888e92',GradientType=0 );

}

.tile1 h1 {
  color: #888e92;
  font-size: 82px;
  position: relative;
  left: -60px;
  width: 110%;
}

.tile1 h1 .angled {
  background: #F7BF0F;
  padding-right: 10px;
}

.tile1 h2 {
  margin-top: 56px;
  margin-bottom: 80px;
  font-size: 42px;
  line-height: 48px;
}


.tile1 .container-fluid {
  position: relative;
}

.countdown {
  position: relative;
  z-index: 10; /* Had to pop up Z to keep buttons clickable above devices image */
  padding: 32px 0 0;
  min-height: 200px;
  text-align: left;
}

.countdown h3 {
  margin-bottom: 0;
  color: #BDBEBF;
}

.countdown #time-left {
  font-size: 45px;
  letter-spacing: -1px;
  font-family: 'AvenirNextLTW02-HeavyCn_724425', Helvetica, Arial, sans-serif;
  color: #eaeaea;
}

.countdown-expired {
  display: none;
}

.countdown .social {
  margin-top: -4px;
}

.countdown .social h3 {
  display: inline-block;
  float: left;
  font-size: 16px;
  max-width: 80px;
  margin: 8px 0 0 0;
  color: #c1c2c3;
}

.countdown .social button {
  float: left;
  display: inline-block;
  margin: 8px 10px 0 10px;
  height: 31px;
  background: transparent no-repeat top center;
  background-size: 100% 100%;
  opacity: .6;
}

.countdown .social button:hover {
  opacity: 1;
}

.countdown .social button.facebook {
  width: 32px; height: 32px;
  background-image: url('../img/social-facebook.png');
}

.countdown .social button.twitter {
  width:31px; height: 25px;
  margin-top: 12px;
  margin-left: 6px;
  background-image: url('../img/social-twitter.png');
}

.countdown .social button.google {
  width: 31px;
  height: 31px;
  margin-top: 10px;
  margin-right: 0;
  background-image: url('../img/social-google.png');
}

.social button.share {
  border: 0;
  background-color: transparent;
  background-size: 100% 100%;
}

#devices { position: relative; }
#devices img { position: absolute; top: -43px; left: -110px; }

/* Tile 2
---------------------------------- */
.tile2 {
  padding-bottom: 30px;
  background: #0089d1;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxNjFiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg5ZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #0161b5 0%, #0089d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0161b5), color-stop(100%,#0089d1));
  background: -webkit-linear-gradient(top,  #0161b5 0%,#0089d1 100%);
  background: -o-linear-gradient(top,  #0161b5 0%,#0089d1 100%);
  background: -ms-linear-gradient(top,  #0161b5 0%,#0089d1 100%);
  background: linear-gradient(to bottom,  #0161b5 0%,#0089d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0161b5', endColorstr='#0089d1',GradientType=0 );

}

.tile2.bottom { background: #c9234a; filter: none; }

.tile2 h1 {
  margin-top: -10px;
  color: #888e92;
  font-size: 120px;
  line-height: 100px;
  margin-bottom: 16px;
}

.tile2 .app-row {
  margin-top: 30px; margin-bottom: 70px;
}

.tile2 .app-row h3 {
  font-size: 28px;
  font-weight: normal;
}

/* Tile 3
---------------------------------- */
.tile3.top {
  padding-bottom: 96px;
  color: #eaeaea; /* NEED TO GET FROM PSD */
  background: #313030;
}

.tile3 .container-fluid {
  position: relative;
}

.tile3 h1 {
  margin-top: -10px;
  margin-bottom: 50px;
  color: #c9234a;
  text-align: right;
  font-size: 120px;
  line-height: 100px;
}

.tile3 .note {
  color: #9f9f9f;
  font-size: 16px;
  margin-top: 20px;
}

.tile3 p.subhead {
  font-size: 18px;
}

#devices-mobile {
  min-height: 150px;
  position: relative;
}

#devices-mobile img {
  position: absolute; top: -230px; left: -152px;
}

.tile3 .row.instructions div {
}

.tile3 .list-icon {
  float: left;

}

.tile3 .instructions ul {
  margin-top: 20px;
  color: #eaeaea;
}

.tile3 .instructions li {
  padding-left: 80px;
  margin-bottom: 28px;
  position: relative;
  box-sizing: border-box;
  min-height: 40px;
  font-size: 16px;
}

.tile3 .instructions ul,
.tile3 .instructions li:last-of-type,
.tile3 .instructions li:last-of-type p {
  margin-bottom: 0;
}


.tile3 .instructions li .list-icon {
  position: absolute; top: 0; left: 0;
}



.tile3.bottom {

  background: #0089d1;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxNjFiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg5ZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #0161b5 0%, #0089d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0161b5), color-stop(100%,#0089d1));
  background: -webkit-linear-gradient(top,  #0161b5 0%,#0089d1 100%);
  background: -o-linear-gradient(top,  #0161b5 0%,#0089d1 100%);
  background: -ms-linear-gradient(top,  #0161b5 0%,#0089d1 100%);
  background: linear-gradient(to bottom,  #0161b5 0%,#0089d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0161b5', endColorstr='#0089d1',GradientType=0 );

}

.tile3.bottom h3 {
  text-align: center;
  color: #FFF;
  padding-top: 56px;
  padding-bottom: 0px;
  font-weight: normal;
  font-size: 22px;
}

.tile3 .logos {
  padding-top: 32px;
  padding-bottom: 96px;
}

.tile3 .logos img {
  width: 84px;
  height: 74px;
  float: left;
}

.tile3 .half-logo-offset {
  clear: both;
  margin-left: 40px;
}

.logo-row-spacer {
  clear: both;
  height: 36px;
}

.tile3 .next-tile-button {
  font-size: 24px;
  position: absolute; left: 15px; bottom: 0;
}

.tile3 .next-tile-button .glyphicon { top: -1px; }

/* Footer
---------------------------------- */

footer {
  padding: 24px 0;
  font-size: 16px;
  color: #adadad;
}

footer a, footer a:visited {
  color: #adadad;
}

footer a:hover {
  color: #FFF;
}


@media screen and (max-width: 1000px) {
  h1 { font-size: 62px; }
  .tile1 h1 { left: 0; width: 100%; }
}

@media screen and (max-width: 768px) {
  body { color: orange; }
  .container-fluid {
    overflow-x: hidden;
    overflow: hidden;
  }
  #back-button {
    overflow: initial !important;
  }

  #back-button .action:after {
    display: none;
  }

  .tile1 .row1 .col-sm-8,
  .tile1 .row1 .col-sm-4 {
    /*width: 50%;*/
  }

  .tile2 h1, .tile3 h1 {
    font-size: 100px;
    line-height: 80px;
  }

  .tile3 .logos img {
  }

  .tile3 .half-logo-offset {
    clear: none;
    margin-left: auto;
  }

  .logo-row-spacer {
    clear: none;
    height: auto;
  }

  .tile3.bottom .col-sm-3,
  .tile3.bottom .col-sm-offset-2 { margin: 0 !important; }
}

/* Smaller than tablet */
@media screen and (max-width: 767px) {

    h1 {
      line-height: 1em;
    }

    h2 { font-size: 20px; line-height: 1em; }
    .tile1 h2 { font-size: 30px; margin: 20px 0;}

    #back-button a,
    #back-button span {
      position: fixed;
      left: 0; right:0; z-index: 1000;
      font-size: 17px;
    }

    #back-button {
      text-align: center;
    }

    #back-button a:before { display: none; }

    .tile1 .row1 .col-sm-8,
    .tile1 .row1 .col-sm-4 {
      width: 100%;
    }

    .countdown {
      text-align: left;
      max-width: 240px;
      margin: 0px auto;
    }

    .countdown .social { float: none; }

    .tile1,
    .tile3.top,
    .tile2,
    .tile3 {
      padding-bottom: 20px;
    }

    .tile2 h1,
    .tile3 h1 {
      font-size: 60px;
      line-height: 1em;
    }

    .tile2 h1,
    .tile3 h1 {
      margin-top: -10px;
    }

    .instructions .col-sm-12 {
      /*padding: 0;*/
    }

    .tile3 .next-tile-button {
      position: relative; left: 0; bottom: auto;
    }

    .tile3 h1 { margin-bottom: 0; }
    .tile3.bottom h3 { padding-top: 20px; }

    .instructions ul {
      margin-top: 15px;
    }

    #devices-mobile {
      min-height: none;
      position: relative;
    }

    #devices-mobile img {
      position: relative; top: auto; left: auto;
      width: 100%;
    }



    /* BOOTSTRAP OVERRIDE */

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      /*padding-left: 30px; padding-right: 30px;*/
    }

    .mobile-br {
      display: block;
    }

    .tile2 .app-row {
      margin-top: 30px; margin-bottom: 30px;
    }

    .app-store-group {
      margin-bottom: 10px;
    }

    .app-store-group:last-of-type {
      margin-bottom: 0;
    }

    footer .col-xs-offset-1 { margin-left: 0; }

}